div{
    border: 2px solid black;
    height: 100px;
    width:  100px;
    margin: auto;
    margin-top: 50px;
    /* border-radius: 50%; */
    background-color: antiquewhite;
    transition: margin-top 2s ease-in 0.2s;

}

div:hover{
    background-color:aqua ;
    border-radius: 20%;
    margin-top: 500px;

}

/* use transform: rotate, scale , translate X or Y , skew , rotate for transformation */