div{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static {
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}

#relative {
    background-color: yellow;
    position: relative;
    top: 100px;  /*iske wajah se top se shift ho gaya*/
    left: 100px;   /*iske wajah se left se shift ho gaya*/
}

#absolute {
    background-color: yellow;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed {
    background-color: blue;
    position: fixed; /*iske wajah se sab kuch fixed hai*/
    top: 350px;
    left: 300px;
}


/* one more is there named "sticky" */